{% extends "news/news_base.html" %}

{% block head_title %}{{ object.title }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
  <article>
    <h2>{{ object.title }}</h2>
    <p class="time"><time pubdate datetime="{{ object.pub_date|date:"c" }}">{{ object.pub_date|date:"F j, Y" }}</p>
    <div class="body">
      {{ object.body|safe }}
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        {% if DISQUS_DEBUG %}
        var disqus_developer = 1;
        {% endif %}
        var disqus_shortname = '{{ DISQUS_ID }}';
        var disqus_identifier = 'article_{{ object.pk }}';
        var disqus_url = 'http://{{ DOMAIN }}{{ object.get_absolute_url }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a
  </article>
{% endblock %}
