article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #444; }

::-moz-selection{ background: #5e9966; color:#fff; text-shadow: none; }
::selection { background:#5e9966; color:#fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 1em 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/**
 * Primary styles
 *
 * Author: jhsu
 */
html {
    background-color: #1a1a1a;
}
body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a {
      /* animation */
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
a, a:active, a:visited {
    color: #3a7940;
}
a:hover {
    color: #8ec54d;
}

/* Main layout */
.container {
    padding: 0 3px;
    margin: 0 auto;
    width: 794px;
}
.col-a {
    float: left;
    width: 460px;
}
.col-b {
    float: right;
    width: 270px;
}

header, #main {
    background-color: #fff;
}

/* Header */
header .container {
    position: relative;
}
hgroup {
    background-color: #fff;
    padding: 50px 3px 0 3px;
}
#main-logo {
    background: transparent url(../images/biomart-logo.png) no-repeat 0 0;
    width: 200px;
    height: 61px;
}
#tagline {
    font-weight: normal;
    color: #777;
    font-size: 16px;
    font-variant: small-caps;
    margin-top: 5px;
}

/* Main nav */
nav {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #2a2a2a;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 7px #333;

    /* Gradients */
    background: -moz-linear-gradient(top, #1f1f1f 0%, #313131 2.5%, #1f1f1f 5%, #444 95%, #141414 97.5%, #444 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f1f1f), color-stop(2.5%,#313131), color-stop(5%,#1f1f1f), color-stop(95%,#444444), color-stop(97.5%,#141414), to(#444444));
    background: -webkit-linear-gradient(top, #1f1f1f 0%, #313131 2.5%, #1f1f1f 5%, #444444 95%, #141414 97.5%, #444444 100%);
    background: -o-linear-gradient(top, #1f1f1f 0%, #313131 2.5%, #1f1f1f 5%, #444444 95%, #141414 97.5%, #444444 100%);
    background: -ms-linear-gradient(top, #1f1f1f 0%, #313131 2.5%, #1f1f1f 5%, #444444 95%, #141414 97.5%, #444444 100%);
    background: linear-gradient(top, #1f1f1f 0%, #313131 2.5%, #1f1f1f 5%, #444444 95%, #141414 97.5%, #444444 100%);

}
.ie6 nav, .ie7 nav, .ie8 nav {
    border-radius: 8px;
    top: -10px;
    box-shadow: 1px 1px 7px #000; 
    behavior: url(ie-css3.htc);
}
#nav {
    width: 100%;
    margin-left: -50%;
    position: relative;
    top: 0;
    left: 50%;
    z-index: 100;
    text-align: center;
    line-height: 1.8;
}
.ie6 #nav, .ie7 #nav, .ie8 #nav {
    padding-top: 10px;
}
#nav li {
    display: inline;
    margin: 0 10px;
}
#nav a {
    color: #fff;
    text-decoration: none;
}
#nav a:hover, #nav a:active {
    color: #8ec54d;
}

#main {
    padding: 20px 0;
    line-height: 1.5em;
    text-align: justify;
}
#main p {
    margin-bottom: 1em;
}
#main .content > h2 {
    border-left: 5px solid #444;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    margin: 1em 0 .5em 0;
}
#main img {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer h4 {
    text-transform: uppercase;
    font-weight: normal;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#external {
    background-color: #eee;
    padding: 10px 0;
}
#external h4 {
    color: #777;
}
#thirdparty a {
    color: #777;
}
#thirdparty a:hover, #thirdparty a:active {
    color: #000;
}
#thirdparty li {
    display: inline;
    line-height: 40px;
}
#thirdparty li:after {
    content: " \2022 ";
}
#thirdparty li:last-child:after {
    content: "";
}
#collaborators li {
    display: inline;
    margin-right: 20px;
}
#collaborators a {
    opacity: .5;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
#collaborators a:hover {
    opacity: 1;
}
#copyright {
    padding: 10px 0;
    background-color: #1a1a1a;
    color: #ccc;
    font-size: 12px;
}


/* Sidebar */
#latest-news {
    /* This is for the ie-css3.htc script */
    position: relative;
}
#latest-news ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#latest-news li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#latest-news time {
    background-color: #444;
    font-size: 12px;
    color: #ddd;
    padding: 2px 5px;
    overflow: hidden;
    border-radius: 8px;
    behavior: url(ie-css3.htc);
}
#latest-news .headline:before {
    content: "\0020";
}
#latest-news .blurb {
    white-space: normal;
}
#latest-news .more {
    margin-top: 10px;
}

/* News */
#news .article-list article {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#news .article-list article:last-child {
    border-bottom: none;
}
#news .article-list h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}
#news .article-list h3 a {
    text-decoration: none;
}
#news article .time {
    margin-top: 0;
}
#news article time {
    color: #999;
}
#disqus_thread {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/*@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}*/

@media all and (max-width: 759px) {
    .container { width: 98%; margin: 0 auto; }
    .col-a, .col-b { 
        float: none;
        width: 100%;
        overflow: auto;
    }
    .col-b {
        padding-top: 20px;
        border-top: 1px solid #ccc;
    }
    header { height: auto;  }
    hgroup { 
        position: static;
        margin-top: 30px;
        padding: 0 3px;
    }
    nav { 
        width: 100%;
        border-radius: 0;
        position: static;
        margin: 0 auto;
        padding: 0;
    }
    #nav {
        left: 0;
        margin-left: 0;
    }
    header .container { width: 100%; padding: 0; }
}
@media all and (min-width: 760px) {
    .container { width: 94%; }
    .col-a { width: 55%; float: left; overflow: visible; margin: 0; }
    .col-b { width: 40%; float: right; overflow: visible; margin: 0; border-top: none; padding-top: 0; }
    nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 94%;
        border-radius: 0 0 8px 8px;
        padding: 5px 10px;
    }
    #nav {
        left: 50%;
        margin-left: -50%;
    }
    hgroup {
        padding: 50px 3px 0 3px;
    }
    header .container { padding: 0 3px; }
}
@media all and (min-width: 900px) {
    .container { width: 874px; }
    .col-a { width: 500px; float: left; overflow: visible; margin: 0; }
    .col-b { width: 330px; float: right; overflow: visible; margin: 0; border-top: none; padding-top: 0; }
    nav {
        width: 860px;
    }
}
@media all and (min-width: 1180px) {
    .container { width: 1154px; }
    .col-a { width: 710px; }
    .col-b { width: 400px; }
    hgroup { padding-top: 10px; }
    nav { right: 0; left: auto; }
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

