{% extends "base.html" %}
{% block content %}
<div id="overview">
  <h3>Project Overview</h3>

  <p>BioMart is a query-oriented data management system developed jointly by the Ontario Institute for Cancer Research (OICR) and the European Bioinformatics Institute (EBI). </p>

  <p>The system can be used with any type of data and is particularly suited for providing 'data mining' like searches of complex descriptive data. BioMart comes with an 'out of the box' website that can be installed, configured and customised according to user requirements. Further access is provided by graphical and text based applications or programmatically using web services or API written in Perl and Java. BioMart has built-in support for query optimisation and data federation and in addition can be configured to work as a DAS 1.5 Annotation server. The process of converting a data source into BioMart format is fully automated by the tools included in the package. Currently supported RDBMS platforms are MySQL, Oracle and Postgres. </p>

  <p>BioMart is completely Open Source, licensed under the LGPL, and freely available to anyone without restrictions.</p>
</div>
<div id="news">
  <h3>Latest News</h3>
  <ul>
    <li>
      <time datetime="2011-05-10T00:00:00Z" pubdate>May 10th, 2011</time>
      &mdash;
      <a href="#">BioMart v 0.8 rc6</a>
    </li>
    <li>
      <time datetime="2011-03-11T00:00:00Z" pubdate>Mar 11th, 2011</time>
      &mdash;
      <a href="#">BioMart v 0.8 rc5</a>
    </li>
    <li>
      <time datetime="2011-02-01T00:00:00Z" pubdate>Feb 1st, 2011</time>
      &mdash;
      <a href="#">BioMart v 0.8 rc4</a>
    </li>
    <li>
      <time datetime="2011-02-01T00:00:00Z" pubdate>Feb 1st, 2011</time>
      &mdash;
      <a href="#">BioMart v 0.8 rc4</a>
    </li>
    <li>
      <time datetime="2011-02-01T00:00:00Z" pubdate>Feb 1st, 2011</time>
      &mdash;
      <a href="#">BioMart v 0.8 rc4</a>
    </li>
  </ul>
  <a href="#">See more news &raquo;</a>
</div>
{% endblock %}
